* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.header{
    background-color: lightblue;
    border-radius: 10px ;
    color: white;
    overflow: hidden;
    padding: 10px;
    margin: 2px;
}

.header h1{
    text-align: center;
    font-weight: 900;
    margin-top: 5px;
}

.header a{
    text-decoration: none;
    display: block;
    float: right;
    color: blue;
}

.days-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 20px;
}

.day-box{
    background-color: indigo;
    color: whitesmoke;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-sizing: border-box;
}

.days-grid a{
    text-decoration: none;
}

.days-grid a:hover{
    transform:scale(1.05);
    transition: all 0.3s ease-in-out;
}

.days-grid p{
    font-weight: 700;
    color: white;
}

.days-grid h1{
    font-weight: 900;
    color: blanchedalmond;
    font-size: large;
    font-family: monospace;
}